<html>
<body>
<form action="/addBill" method="post">
    <input type="text" placeholder="Enter biller name" name="biller"/>
    <input type="number" step="0.01" placeholder="Enter amount Due" name="amountDue"/>
    <input type="date" name="dueDate">
    <input type="hidden" value="">
    <button type="submit">Add</button>
</form>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
    {{#bills}}
<form action="/delete" method="post">
        {{.}}<a href="/edit?id={{id}}">     Edit</a>
        <input type="hidden" value="{{id}}" name="id"/>
        <button type="submit">Delete</button>{{#dueSoon}}This bill is due soon!{{/dueSoon}}
</form>
    {{/bills}}
{{^beginning}}
<a href="/?offset={{offsetDown}}">Previous</a>
{{/beginning}}
{{^end}}
<a href="/?offset={{offsetUp}}">Next</a>
{{/end}}
</body>
</html>